{
 "plugins": [
   [ 
    "root-import",
    { 
      "paths":
       [ 
        "rootPathSuffix":"./", 
        "rootPathPrefix":"~/"
       ]
    }, 
    "module-resolver", 
    "dynamic-import-node", 
    "transform-flow-strip-types", 
    "proposal-class-properties", 
    "transform-spread", 
    "transform-es2015-modules-commonjs", 
    "transform-async-to-generator", 
    "transform-react-constant-elements", 
    "transform-runtime",  {
      "absoluteRuntime":false, 
        "corejs3":true, 
        "helpers":true, 
        "regenerator":true, 
        "useESModules":true
       }
     ]
  ], 
  "presets":[
    [
      "babel-preset-airbnb", 
      "@babel/preset-react",  {
       "targets": {
          "pragma":"React.createElement", 
          "pragmaFrag":"React.Fragment", 
          "throwIfNamespace":true
        }
      }, 
      "@babel/preset-flow", 
      "react", 
      "@babel/preset-env",  {
        "targets": {
          "esmodules":true, 
            "node":"current", 
            "loose":true, 
            "useBuiltIns":true
        }
      }, 
      "es2015", 
      "stage-3"
    ]
  ]
}
