lib
**/node_modules
examples/**/server.js
./vscode
./dist
build/
lib/
documentation/
.gitignore
.prettierignore
.travis.yaml
.vscode-upload.json
appveyor.yaml
extensions.json
jest.config.js
package.json
package-lock.json
yarn.lock
prettierrc.js
/temp
.env.development
.env.staging
test/
*.log
*.lock
